In [2]:
import pandas as pd
import os

dpath = os.path.join('preprocessed', '2022_season2_processed.csv')
df = pd.read_csv(dpath,
                 index_col=0,
                 parse_dates=['대여일시', '반납일시'],
                 infer_datetime_format=True)
rental = os.path.join('preprocessed', 'season2_rental_office.csv')
df_rental = pd.read_csv(rental,
                        index_col=1)
df.head()

    대여스테이션                대여일시  반납스테이션                반납일시  이동거리  rental_time
47       1 2022-07-23 10:12:20     985 2022-07-23 10:20:39   500          499
48     985 2022-07-23 10:23:19     885 2022-07-23 10:29:18   100          359
49     985 2022-07-23 10:23:24     885 2022-07-23 10:29:30   100          366
50     885 2022-07-23 10:33:08       1 2022-07-23 10:39:16   500          368
51     885 2022-07-23 10:33:17       1 2022-07-23 10:39:25   500          368